.products__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  min-height: 90vh;
  margin: 0 auto;
}

.products__title {
  color: white;
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
  font-family: 'Exo2.0', Arial, sans-serif;
  font-weight: 100;
  margin-top: 15px;
}

.products__list {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products__item {
  display: flex;
  margin: 10px 40px 10px;
}