$default-color: #1698d9;
$default-hover-color: #2ea8e6;
$selected-color: #d91667;
$selected-hover-color: #e62e7a;
$disabled-color: #b3b3b3;
$border-radius: 15px;
$border-width: 5px;
$corner-size: 40px;

.article__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $default-color;

  &--hover {
    color: $default-hover-color;
  }

  &--selected {
    color: $selected-color;
  }

  &--selected#{&}--hover {
    color: $selected-hover-color;

    .article__tagline {
      color: $selected-hover-color;
    }
  }

  &--disabled {
    color: $disabled-color;

    .article__description {
      opacity: 0.5;
    }
  
    .article__img {
      opacity: 0.5;
    }
  
    .article__afterline {
      color: #ffff66;
    }
  }
}

.article__content {
  position: relative;
  background-color: none;
  flex-grow: 1;
  display: flex;

  &::before {
    $sqrt2: 1.41421356237;
    width: $corner-size * $sqrt2;
    height: $corner-size * $sqrt2;

    top: 0;
    left: 0;

    content: '';
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
    transform: translate(-61%, -2.5%) rotate(-45deg); //подгон
    transform-origin: $border-width $border-width;
    border-color: currentColor;
    border-style: solid;
    border-width: 0;
    border-bottom-width: $border-width;
    pointer-events: none;
  }
}

.article__background {
  border-width: $border-width $border-width $border-width 0;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-color: currentColor;
  border-style: solid;
  background-color: white;
  margin-left: $corner-size;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  &::before {
    content: '';
    position: absolute;
    width: $corner-size + 1px - $border-width;
    height: calc(100% - #{$corner-size} + #{$border-width});
    background-color: white;
    border-width: 0 0 $border-width $border-width;
    border-color: currentColor;
    border-style: solid;
    bottom: -$border-width;
    left: -$corner-size;
    border-bottom-left-radius: $border-radius;
  }

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 $corner-size $corner-size;
    border-color: transparent transparent white transparent;
    top: 0;
    left: -$corner-size + 1px;
    pointer-events: none;
  }
}

.article__description {
  padding: 20px 45px 20px 5px;
  flex-grow: 1;
  color: black;
}

.article__tagline {
  font-size: 16px;
  margin: 0;
  margin-left: 2px;
}

.article__title {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.article__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.article__list {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.article__list-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.article__img-wrapper {
  width: 255px;
  height: 269px;
  position: relative;
  left: - $corner-size + $border-width;
  border-bottom-left-radius: $border-radius * 14 / 20;
  overflow: hidden;
}

.article__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: -30px;
}

.article__amount {
  $size: 81px;
  width: 81px;
  height: 81px;

  position: absolute;
  border-radius: 50%;
  background-color: currentColor;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article__amount-count {
  font-size: 42px;
  color: white;
}

.article__amount-unit {
  font-size: 21px;
  line-height: 21px;
  color: white;
}

.article__afterline {
  color: white;
  text-align: center;
  font-size: 13px;
}

.article__afterline-link {
  cursor: pointer;
  color: $default-color;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-color: $default-color;
  text-decoration-style: dashed;
}