$default-color: #1698d9;
$default-hover-color: #2ea8e6;
$selected-color: #d91667;
$selected-hover-color: #e62e7a;
$disabled-color: #b3b3b3;
$color: $default-color;

.article__wrapper {
  width: 320px;
  // --default-color: #1698d9;
  // --default-hover-color: #2ea8e6;
  // --selected-color: #d91667;
  // --selected-hover-color: #e62e7a;
  // --disabled-color: #b3b3b3;
  // --color: var(--default-color)
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__wrapper--hover {
  $color: $default-hover-color;

  .article__content::before {
    border-color: $color;
  }

  .article__background {
    border-color: $color;
  }

  .article__background::before {
    border-color: $color;
  }

  .article__amount {
    background-color: $color;
  }
}

.article__wrapper--selected {
  $color: $selected-color;

  .article__content::before {
    border-color: $color;
  }

  .article__background {
    border-color: $color;
  }

  .article__background::before {
    border-color: $color;
  }

  .article__amount {
    background-color: $color;
  }
}

.article__wrapper--selected.article__wrapper--hover {
  $color: $selected-hover-color;

  .article__content::before {
    border-color: $color;
  }

  .article__background {
    border-color: $color;
  }

  .article__background::before {
    border-color: $color;
  }

  .article__amount {
    background-color: $color;
  }

  .article__tagline {
    color: $color;
  }
}

.article__wrapper--disabled {
  $color: $disabled-color;

  .article__content::before {
    border-color: $color;
  }

  .article__background {
    border-color: $color;
  }

  .article__background::before {
    border-color: $color;
  }

  .article__amount {
    background-color: $color;
  }

  .article__description {
    opacity: 0.5;
  }

  .article__img {
    opacity: 0.5;
  }

  .article__afterline {
    color: #ffff66;
  }
}

.article__content {
  position: relative;
  background-color: none;
  flex-grow: 1;
  display: flex;

  &::before {
    $sqrt: 1.41421356237px;
    content: '';
    z-index: 2;
    position: absolute;
    top: -19.5px;
    left: -20.5px;
    width: 49.42641px;
    height: 42.42641px;
    transform: rotate(-45deg);
    border-color: $color;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 5px;
    pointer-events: none;
  }
}

.article__background {
  border-width: 5px 5px 5px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-color: $color;
  border-style: solid;
  background-color: white;
  margin-left: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  &::before {
    content: '';
    position: absolute;
    width: 31px;
    height: calc(100% - 30px);
    background-color: white;
    border-width: 0 0 5px 5px;
    border-color: $color;
    border-style: solid;
    bottom: -5px;
    left: -35px;
    border-bottom-left-radius: 20px;
  }

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 35px 35px;
    border-color: transparent transparent white transparent;
    top: 0;
    left: -35px;
    pointer-events: none;
  }
}

.article__description {
  padding: 20px 45px 20px 0;
  flex-grow: 1;
}

.article__tagline {
  font-size: 16px;
  margin: 0;
  margin-left: 2px;
}

.article__title {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.article__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.article__list {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.article__list-item {
  font-size: 14px;
  font-weight: 100;
  font-family: 'Exo2.0', Arial, sans-serif;
}

.article__img-wrapper {
  width: 255px;
  height: 269px;
  position: relative;
  left: -30px;
  border-bottom-left-radius: 14px;
  overflow: hidden;
}

.article__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: -30px;
}

.article__amount {
  position: absolute;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: $color;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.article__amount-count {
  font-size: 42px;
}

.article__amount-unit {
  font-size: 21px;
  line-height: 21px;
}

.article__afterline {
  color: white;
  text-align: center;
  font-size: 13px;
}

.article__afterline-link {
  cursor: pointer;
  color: #1698d9;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-color: #1698d9;
  text-decoration-style: dashed;
}